.content {
    width: 100%;
}
.main {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-right: 20px;
}

.info_title {
    font-size: 45px;
    text-transform: uppercase;
}

.animate_text {
    font-size: 25px;
    margin-top: 5px;
}

.socials {
    margin: 15px 0;
    display: flex;
    gap: 25px;
}

.socials_link {
    border: 1px solid #1b1f37;
    border-radius: 50%;
    padding: 5px;
    color: #1b1f37;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
}

.socials_link:hover {
    background-color: #1b1f37;
    color: #fff;
}

.socials_icon {
    width: 30px;
    height: 30px;
}

.cv_btn {
    border: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: #1b1f37;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
}

.cv_btn:hover {
    background-color: #1b1f375c;
    transition: all .2s linear;
}


@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.animate_text h1 {
    overflow: hidden;
    border-right: 2px solid #1b1f37;
    white-space: nowrap;
    margin: 0;
    animation: typing 7s infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }
}

@media screen and (max-width: 520px) {
    .main {
        height: 100%;
        margin-top: 100px;
    }

    .info_title {
        font-size: 20px;
    }
    .animate_text {
        font-size: 18px;
    }
}