.navbar {
    padding: 20px 20px 0 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_title {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

.list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.list li {
    list-style: none;
}

.list li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s linear;
}

.list li a:hover {
    color: #901313;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.menuIcon {
    display: none;
    cursor: pointer;
}

.menuIcon span {
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin: 5px auto;
    transition: all .3s linear;
}

.list.active {
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    /* text-align: center; */
}

@media (max-width: 768px) {
    .list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .list.active {
        display: flex;
    }

    .menuIcon {
        display: block;
        position: absolute;
        top: 12px;
        right: 25px;
    }
}
